#remove-button {
    position: absolute;
    top: 0;
    right: 0;
}

#right-movie-container {
    position: absolute;
    border: 2px solid black;
    width: 400px;
    right: 0;
}

#movie {
    position: relative;
    background-color: #64c86420;
}

#right-movie-container #movie {
    background-color: #c8646420;
}