body {
  margin: 0;
  font-family: 'Roboto', sans-serif; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 2000;
}
